.layout {
  margin: 0 auto;
  max-width: 1200px;
  min-width: 800px;
  background-color: aliceblue;
}

.todo-lists {
  /* background-color: aqua; */
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.todo-box {
  border: 1px solid brown;
  border-radius: 10px;
  width: 200px;
  height: 200px;
}

.title {
  font-size: 25px;
  font-weight: bold;
}
